a{
    color: red;
    background-color: green;
    font-size: 60px;
    text-decoration-line: none;
    padding: 50px;
    border: 5px solid black;
    margin: 80px;
}
a:hover{
   color: white;
   background-color:black;
}
a:active{
    color: yellow;
}
/* a:visited{
    color: tomato;
    background-color: black;
} */