h1{
    color: red;
    background-color: black;
    text-align: center;
}

.p1{

    color: blue;
    text-transform: uppercase;
    text-indent: 45px;
    line-height: 40px;
}
.p2{
color: red;
text-transform: lowercase;
letter-spacing: 5px;
}
.p3{
color: green;
text-transform: capitalize;
word-spacing: 10px;
}